@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=IBM+Plex+Sans+KR&display=swap');
/* 스피너 동작시 뒷배경*/
.spin_overlay {
    position: fixed !important;
    top: 0 !important ; left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgba(39, 39, 39, 0.98);
    z-index: 9999999999999999999 !important;
    }

/* 스피너 위치 지정 */
.spin-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    color: white;
    font-size:28px;
    font-weight: bold;
    gap: 20px;
}             


.alert-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "IBM Plex Sans KR";
    font-size:28px;
    font-weight: bold;
    margin-top: 4px;
    gap: 20px;
}             

.alert-box h3 {
    font-family: "IBM Plex Sans KR";
    font-size: 1rem !important;      
    color: #e53935 !important;       
    font-weight: bold;
    margin: 0;
    padding: 0;
}


/* 로딩 스피너(st.spinner 대체*/
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2766C2;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin-top: 4px;
    animation: spin 1s linear infinite;
}
.message {
    white-space: pre-line;
    /*margin-left: 10px;*/
    display: flex;
    align-items: center;
                
}
@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}