/* 스피너 동작시 뒷배경*/
.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 33, 33, 0.94);
    z-index: 1000000;
    }
        
/* 스피너 위치 지정 */
.spin-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size:28px;
    font-weight: bold;
    gap: 20px;
}             

/* 로딩 스피너(st.spinner 대체*/
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2766c2;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
}
.message {
                
    margin-left: 50px;
    display: flex;
    align-items: center;
                
}
@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}