.stApp{
    background-color: rgba(34, 33, 33, 0.98);
}


.stButton{
    background-color: rgba(34, 33, 33, 0.98);
    border: transparent;
}

.stAppToolbar{
    background-color: rgba(34, 33, 33, 0.98);
}
.stMainBlockContainer{
    background-color: rgba(34, 33, 33, 0.98);
}

[data-baseweb = "base-input"]{
    background-color:#161616;
}

.stSelectbox{
    background-color: #161616;
}


/*우측 팝업창 css */
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translate(120%, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.stToast {
    position: fixed !important;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    animation: fadeSlideIn 0.3s ease-out !important;
    bottom: auto;
    width: 600px;
    font-size: 20px;
    font-weight: bold !important;
    z-index: 9999;
}

.stToast svg, .stToast i {
    width: 20px !important;
    height: 20px !important;
    padding-bottom: 2%;
    flex-shrink: 0;
}
.stToast button {
    display: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.fade-in {
    animation: fadeIn 0.6s ease-in;
}


/*이전 단계, 다음 단계 버튼 css *

/* 공통 높이로 조정 */
.element-container:has(#before-button),
.element-container:has(#next-button) {
    position: absolute;
    height: 90px;

}

/* 이전 버튼 */
.element-container:has(#before-button) + div:has(button) {
    left: 150px;
    position: absolute;
    bottom: 60px; 
    z-index: 9999;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}


[data-testid = "stMainBlockContainer"]{
    padding-top: 4.5%;
    padding-left: 8%;
    padding-right: 8%;

}

[data-testid = "InputInstructions"]{
    display:none;
}

/*홈 버튼 css*/
div.st-key-clear_btn [data-testid = "stBaseButton-secondary"],
div.st-key-home_btn_setting_admin [data-testid = "stBaseButton-secondary"]{
    width: 150px;
    height: 15px;
    padding: 5px;
    position:fixed;
    top: 1.05%;
    left: 14.6%;
    z-index: 999999999;
    /*color: #292929;*/
    background-color:transparent;
    border: transparent;
    font-size: 0.875rem;
}
div.st-key-clear_btn [data-testid = "stIconMaterial"],
div.st-key-home_btn_setting_admin [data-testid = "stIconMaterial"] {
    font-size: 25px;
}

/*div.st-key-clear_btn [data-testid = "stMarkdownContainer"] p,
div.st-key-home_btn_setting_admin [data-testid = "stMarkdownContainer"] p{
    display: none;
}*/

/* 파일 형식 재선택 버튼 */
div.st-key-file_reselect [data-testid = "stBaseButton-secondary"],
div.st-key-file_reselect [data-testid = "stBaseButton-secondary"]:hover,
div.st-key-file_reselect [data-testid = "stBaseButton-secondary"]:focus{
    width: 150px;
    height: 15px;
    padding: 5px;
    position:fixed;
    top: 1%;
    right: 8%;
    z-index: 999999999;
    background-color:transparent;
    border: transparent;
    font-size: 0.875rem;
}
div.st-key-file_reselect [data-testid = "stIconMaterial"] {
    font-size: 25px;
}

/*파일 생성, 파일 다운로드 버튼*/
div.st-key-create_file [data-testid = "stBaseButton-secondary"],
div.st-key-create_file [data-testid = "stBaseButton-secondary"]:hover,
div.st-key-create_file [data-testid = "stBaseButton-secondary"]:focus,
div.st-key-download_file [data-testid = "stBaseButton-secondary"],
div.st-key-download_file [data-testid = "stBaseButton-secondary"]:hover,
div.st-key-download_file [data-testid = "stBaseButton-secondary"]:focus
{
    width: 150px;
    height: 15px;
    padding: 5px;
    position: fixed;
    top: 1%;
    right: 0.5%; 
    z-index: 9999999999;
    background-color:transparent;
    border: transparent;
}

div.st-key-create_file [data-testid = "stIconMaterial"],
div.st-key-download_file [data-testid = "stIconMaterial"] {
    font-size: 25px;
}

/*민원 요지 생성 버튼*/
div.st-key-input_page_show .stButton{
    position:relative;
    left: 90.9%;
}

/*div[class *= "result_first_"] textarea {
    border-left-color: #63e73b; 
    border-right-color: #63e73b; 
    border-top-color: #63e73b; 
    border-bottom-color: #63e73b; 
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;

}*/

div[class *= "result_first_"] [data-baseweb = "base-input"]{
    background-color:#1d5221;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(2px); }
    to { opacity: 1; transform: translateY(0); }
}




/*민원 재생성 버튼*/
div[class *= "recreate_answer_"] [data-testid="stBaseButton-secondary"]{
    position:relative !important;
    left: 91.8% !important;
}

/*답변 스위치 버튼*/
div[class *= "switch_option_"]{
    position: relative;
}

div[class *= "switch_option_"] [data-testid="stBaseButton-secondary"]{
    border: transparent;
    position:absolute !important;
    left: 25% !important;
    background-color: transparent;
}

div[class *= "switch_option_"] [data-testid="stBaseButton-secondary"]:focus{
    color:#292929;
    background-color: transparent;
}

div[class *= "switch_option_"] [data-testid="stIconMaterial"]{
    font-size: 65px;
}

div[class *= "switch_option_"] [data-testid="stMarkdownContainer"] p {
    display: none !important;
}

/*답변 멀티 재생성 버튼*/
div.st-key-total_regenerate_btn {
    position: relative;
}

div.st-key-total_regenerate_btn [data-testid = "stBaseButton-secondary"]{
    position: absolute !important;
    left: 86.3% !important;
}


/*민원 생성 버튼 */
div.st-key-input_minwon_generate [data-testid="stBaseButton-secondary"]{
    position: relative !important;
    left: 92.8% !important;
}

/*수동 입력 버튼 */
div.st-key-FormSubmitter-manual_input------ [data-testid="stBaseButton-secondaryFormSubmit"]{
    position: relative !important;
    left:92.7% !important;
}

/*div.st-key-FormSubmitter-manual_input------ [data-testid="stBaseButton-secondaryFormSubmit"]:hover,
div[class *= "recreate_answer_"] [data-testid="stBaseButton-secondary"]:hover,
div.st-key-FormSubmitter-manual_input------ [data-testid="stBaseButton-secondaryFormSubmit"]:focus,
div[class *= "recreate_answer_"] [data-testid="stBaseButton-secondary"]:focus
{
    background-color: #161616 !important;
    color: #9C2333 !important;
    border: 1px solid #9C2333 !important;
}*/


/*파일 입력 버튼*/
/*
div.st-key-file_input [data-testid = "stBaseButton-secondary"]:hover{
    color: #9C2333 !important;
    border: 1px solid #9C2333 !important;
}*/

/* file-selector 마커 바로 다음에 나오는 stButtonGroup만 적용 */
div.st-key-file_format .stButtonGroup{
    position: fixed !important;
    top: 1.35%;
    right: 8%;
    z-index: 9999999999 !important;
    background: transparent;
    gap: 8px;
    padding: 2px 12px;
}


div.st-key-file_format .stButtonGroup button:hover{
    color: #add8e6;
    border-color: #add8e6;
}

/* 모델 선택창 */
div.st-key-llm_model_select .stSelectbox{
    position: fixed;
    width: 200px;
    top: 1.05%;
    left: 5%;
    background-color: transparent;
    z-index: 99999999999999 !important;
}
/*#161616;*/
div.st-key-llm_model_select .st-br{
    background-color: #161616;
}

/*.rc-overflow{
    padding: 0px 60px;
    font-weight: 550;
}*/

.rc-overflow [data-testid = "stSidebarNavLink"]{
    background-color: transparent;
}

.rc-overflow [data-testid = "stIconMaterial"]{
    font-size: 25px;
}

.rc-overflow span[label="민원 입력"]{
    display: none;
}
.rc-overflow span[label="설정"]{
    display: none;
}

.rc-overflow .stSidebarNavLinkContainer {
    font-size: 28px !important;
}


/*선택된 textarea 영역 */
textarea.active-highlight {
    transition: all 0.2s ease-in-out;
    border: 2px solid #63e73b !important;
    border-radius: 10px;
    background-color: #d9f0cf !important;
    box-shadow: 0 0 10px rgba(74, 144, 226, 0.5) !important;     
}

/*streamlit 상단바 비활성화*/
[data-testid = "stMainMenu"]{
    display: none;
}

div[class = "stAppDeployButton"]{
    display: none;
}

[data-testid = "stHeaderActionElements"]{
    display: none;
}



